{% load static %}
<div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <a href="/testimonials">
			    < href="{% url 'testimonal' %}">
                    <img class="card-img-top" src="{% static 'website/case_study_family.png' %}"
                         alt="Card image cap"></a>
                    <div class="card-body">
                        <h5 class="card-title">Testimonials</h5>
                        Here what our clients think of our work. 
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="card-img-top" src="{% static 'website/dormer.jpeg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Loft Conversions</h5>
                        Expertly crafted, seamlessly combining practicality and style for impressive and spacious
                        living areas that stand out.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="card-img-top" src="{% static 'website/carpentry.jpeg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Carpentry</h5>
                        Precision-crafted bespoke carpentry tailored for your living space and design needs,
                        blending functionality with style.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="card-img-top" src="{% static 'website/kitchen_finished.jpeg' %}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Kitchens</h5>
                        Amazing renovations for kitchen remodeling projects of every size and budget, expertly designed
                        and implemented with precision.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

